.portal {
  overflow: auto;
  margin:0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color: #fff;

  .button-container {
    position:fixed;
    top:3%;
    left:5%;
    height:21px;
    width:29px;
    cursor:pointer;
    -webkit-transition:opacity .25s ease;
    transition:opacity .25s ease;
    z-index:200
  }

  .button-container:hover {
    opacity: .7
  }

  .button-container span {
    background: #3fffb3;
    border:none;
    height:4px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-transition:all .35s ease;
    transition:all .35s ease;
    cursor:pointer
  }

  .button-container span:nth-of-type(2) {
    top:9px
  }

  .button-container span:nth-of-type(3) {
    top:18px
  }

  .top_active {
    -webkit-transform:translateY(9px) translateX(0) rotate(45deg);
    -ms-transform:translateY(9px) translateX(0) rotate(45deg);
    transform:translateY(9px) translateX(0) rotate(45deg);
    background:#FFF
  }

  .middle_active {
    opacity:0;
    background:#FFF
  }

  .bottom_active {
    -ms-transform:translateY(-9px) translateX(0) rotate(-45deg);
    -webkit-transform:translateY(-9px) translateX(0) rotate(-45deg);
    tranform:translateY(-9px) translateX(0) rotate(-45deg);
    background:#FFF
  }

  .overlay {
    position:fixed;
    background: #5262ff;
    top:0;
    left:0;
    width:0;
    height:100%;
    opacity:0;
    visibility:hidden;
    -webkit-transition:opacity .35s,visibility .35s,width .35s ease-in-out;
    transition:opacity .35s,visibility .35s,width .35s ease-in-out;
    overflow:hidden;
    z-index:100
  }

  .overlay_open {
    opacity:.9;
    visibility:visible;
    width:30%;
    overflow:hidden
  }

  .overlay nav {
    position:relative;
    height:60%;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    font-size:32px;
    font-family:Montserrat,sans-serif;
    font-weight:400;
    text-align:center
  }

  .overlay nav ul {
    list-style:none;
    padding:0;
    margin:0 auto;
    display:inline-block;
    position:relative;
    height:100%
  }

  .overlay_open nav ul li {
    display:block;
    height:20%;
   // height:-webkit-calc(100% / 5);
    //height:calc(100% / 5);
    min-height:32px;
    position:relative;
    opacity:0.7
  }

  .overlay_open nav ul li{
    -webkit-animation:menuFade .5s ease forwards;
    animation:menuFade .5s ease forwards;
    -webkit-animation-delay:.35s;
    animation-delay:.35s
  }

  .overlay_open nav ul li:nth-of-type(2) {
    -webkit-animation-delay:.4s;
    animation-delay:.4s
  }

  .overlay_open nav ul li:nth-of-type(3) {
    -webkit-animation-delay:.45s;
    animation-delay:.45s
  }

  .overlay_open nav ul li a {
    display:block;
    position:relative;
    color:#FFF;
    overflow:hidden
  }

  .overlay_open nav ul li a:hover {
    text-decoration:none;
    cursor: pointer;
  }

  .overlay_open nav ul li a:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    -webkit-transform:translateX(-105%);
    -ms-transform:translateX(-105%);
    transform:translateX(-105%);
    height:3px;
    width:100%;
    background:#FFF;
    -webkit-transition:.35s ease;
    transition:.35s ease
  }

  .overlay_open nav ul li a:hover:after {
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%)}#title{color:#FFF;
    -webkit-animation-delay:.5s;
    animation-delay:.5s
  }



  //表单面板
  .intro-lg {
    text-align:center;
    padding-top:150px;
    padding-bottom:150px
  }

  .uppercase {
    text-transform: uppercase;
  }

  #title {
    color:#FFF;
    -webkit-animation-delay:.5s;
    animation-delay:.5s
  }

  #sub {
    color:#FFF;
    font-size:1.214em;
    -webkit-animation-delay:1s;
    animation-delay:1s;
    //-webkit-animation-duration:1s;
    //animation-duration:1s
  }

  h1 {
    font-size:5.143em;
    font-weight:700
  }

  h2 {
    font-size:1.429em
  }

  h3 {
    font-size:1.214em
  }

  form {
    text-align: center;
  }

  .form-signin {
  max-width: 440px;
  padding: 15px;
  margin: 0 auto;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    width:100%;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    width:100%;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="text"] {
    width:100%;
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

    .registerInfo {
      display: block;
      color: red;
      //text-transform: none
    }

  //普及面板
  .expertise {
    padding-top:30px;
    padding-bottom:60px;
    text-align:center
  }

  .expertise p {
    padding-bottom:20px
  }

  .expertise img {
    margin-bottom: 10px
  }

  .divider {
    background-color:#808082;
    height:2px;
    width:80px;
    margin:30px auto
  }
  .expertise img {
    height:130px;
    width:130px;
  }
  .col-centered {
    float:none;margin:0 auto;
  }

  .fadeIn {
    -webkit-animation-duration:1.2s;
    animation-duration:1.2s
  }

  .divider-small {
    background-color:#FF5252;
    height:2px;
    width:40px;
    margin:auto auto 20px
  }

  .other {
    background-color:#F5F5F5;
    border-top:1px solid #E0E0E0;
    padding-top:50px;
    padding-bottom:60px
  }

  .grid {
    margin:0 auto;
    padding:1em 0 4em;
    max-width:100%;
    list-style:none;
    text-align:center;
    -webkit-animation-duration:1.3s;
    animation-duration:1.3s
  }

  .grid a {

  }
  .grid-item {

  }

  .grid figure {
    position:relative;
    min-width:200px;
    max-width:450px;
    max-height:300px;
    background:#b8b8b8;
    text-align:center;
    cursor:pointer;
    margin:0 auto;
    overflow:hidden;
    border-radius:5px
  }

  .grid figure img {
    position:relative;
    display:block;
    opacity:.8;
    max-width:100%
  }

  .grid figure figcaption {
    padding:2em;
    color:#FFF;
    text-transform:uppercase;
    text-align:center;
    font-size:1em;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
  }

  .grid figure figcaption::after,.grid figure figcaption::before {
    pointer-events:none
  }

  .grid figure figcaption,.grid figure figcaption>a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
  }

  .grid figure figcaption>a {
    z-index:1000;
    text-indent:200%;
    white-space:nowrap;
    font-size:0;
    opacity:0
  }

  .grid figure h2 {
    font-weight:400;
    margin-top:-5px
  }

  .grid figure p {
    margin:-8px 0;
    letter-spacing:1px;
    font-size:14px
  }
  .grid-item-2 {
    -webkit-animation-delay:.2s;
    animation-delay:.4s
  }
  .grid-item-3 {
    -webkit-animation-delay:.4s;
    animation-delay:.4s
  }
  .grid-item-4 {
    -webkit-animation-delay:.6s;
    animation-delay:.6s
  }
  .grid-item-5 {
    -webkit-animation-delay:.8s;
    animation-delay:.8s
  }
  .grid-item-6 {
    -webkit-animation-delay:1s;
    animation-delay:1s
  }

  figure.grid-item figcaption {
    top:auto;
    bottom:0;
    padding:1.3em;
    height:6em;
    background:#222;
    color:#FFF;
    -webkit-transition:-webkit-transform .35s;
    transition:transform .35s;
    -webkit-transform:translateY(120%);
    -ms-transform:translateY(120%);
    transform:translateY(120%);
    opacity:.9;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px
  }

  figure.grid-item figcaption.dribbble {
    background:#ea4c89;
    color:#FFF
  }

  figure.grid-item p.icon-links a span::before {
    display:inline-block;
    padding:8px 10px;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
  }

  figure.grid-item h2 {
    display:inline-block
  }

  figure.grid-item:hover p.description {
    opacity:1
  }

  figure.grid-item:hover figcaption,figure.grid-item:hover h2,figure.grid-item:hover p.icon-links a {
    -webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%)
  }

  figure.grid-item:hover h2 {
    -webkit-transition-delay:.05s;
    transition-delay:.05s
  }

  figure.grid-item:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay:.1s;transition-delay:.1s
  }

  figure.grid-item:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay:.15s;
    transition-delay:.15s
  }

  figure.grid-item:hover p.icon-links a:first-child {
    -webkit-transition-delay:.2s;
    transition-delay:.2s
  }
  figure .grid-item {

  }
  // Footer
  footer {
    background-color:#F1F1F1;
    border-top:1px solid #E0E0E0;
    color:#b0b0b0;
    font-size:.929em;
    height:150px;
    padding-top:20px;
    text-align:center
  }

  footer span {
    color:#FF5252;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
  }

}