.navbar-default {
  background-color: #36465d;
  border-color: inherit;
  position: fixed;
  z-index: 999;
}

.navbar-header .navbar-brand {
  color: rgba(255,255,255,.6);
  font-size: 25px;
  font-weight: 700;
}

.navbar-default .navbar-form {
  margin-left: 50px;
  border-color: #36465d;

}

.navbar .navbar-header .navbar-right {
  margin-left: 540px;
}
