doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', type='text/css', href='style4.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../../styles/bootstrap.min.css')
    title Search
  body
    .row
      .col-lg-6
        .input-group
          input.form-control(type='text', placeholder='Search for...', style='height:30px; width:270px')
        // /input-group
      // /.col-lg-6
    // /.row
    section
      #container_buttons
        p
          a.a_demo_four(href='#')
            | Go!
    .wrapper
      h3
        a(href='photo.html')
          span.label.label-.label-default 城 市
        a(href='photo.html')
          span.label.label-primary 海 洋
        a(href='photo.html')
          span.label.label-success 自 然
        a(href='photo.html')
          span.label.label-info 山 脉
        a(href='photo.html')
          span.label.label-warning 香 港
        a(href='photo.html')
          span.label.label-danger 建 筑
    .wrapper2
      .box1
        a(href='photo.html')
          img(src='../../styles/img/1.jpg')
      .box2
        a(href='photo.html')
          img(src='../../styles/img/2.jpg')
      .box3
        a(href='photo.html')
          img(src='../../styles/img/3.jpg')
      .box4
        a(href='photo.html')
          img(src='../../styles/img/4.jpg')
      .box5
        a(href='photo.html')
          img(src='../../styles/img/5.jpg')
      .box6
        a(href='photo.html')
          img(src='../../styles/img/6.jpg')
      .box7
        a(href='photo.html')
          img(src='../../styles/img/7.jpg')
      .box8
        a(href='photo.html')
          img(src='../../styles/img/8.jpg')



