.search
  include ../navbar/navbar
  .cart
    .row
      .col-lg-6
        .input-group
          input.form-control(id="tagname" type='text', placeholder='Search for...', style='height:30px; width:270px')
    section
      #container_buttons
        p
          button.a_demo_four(type='submit' ng-click='search()') Go!
        p {{errorInfo }}

  .wrapper
    h3
      a(href='photo')
        span.label.label-.label-default Cities
      a(href='photo')
        span.label.label-primary Ocean
      a(href='photo')
        span.label.label-success Nature
      a(href='photo')
        span.label.label-info Mountains
      a(href='photo')
        span.label.label-warning HongKong
      a(href='photo')
        span.label.label-danger Architecture
  .wrapper2
    .box1
      a(href='topic/1')
        img(src='../../styles/img/1.png')
    .box2
      a(href='topic/2')
        img(src='../../styles/img/2.png')
    .box3
      a(href='topic/3')
        img(src='../../styles/img/3.png')
    .box4
      a(href='topic/4')
        img(src='../../styles/img/4.png')
    .box5
      a(href='topic/5')
        img(src='../../styles/img/5.png')
    .box6
      a(href='topic/6')
        img(src='../../styles/img/6.png')
    .box7
      a(href='topic/7')
        img(src='../../styles/img/7.png')
    .box8
      a(href='topic/8')
        img(src='../../styles/img/8.png')