.search
  include ../navbar/navbar
  .cart
    .row
      .col-lg-6
        .input-group
          input.form-control(ng-model="tagname" type='text', placeholder='Search for...', style='height:30px; width:270px')
    section
      #container_buttons
        p
          button.a_demo_four(type='submit' ng-click='search()') Go!
        p {{errorInfo }}

  .wrapper
    h3

      span.label.label-.label-default(ng-model='tagname', ng-click='search()') Cities
      span.label.label-primary(ng-model='tagname', ng-click='search()') Ocean
      span.label.label-success(ng-model='tagname', ng-click='search()') Nature
      span.label.label-info(ng-model='tagname', ng-click='search()') Mountains
      span.label.label-warning(ng-model='tagname', ng-click='search()') HongKong
      span.label.label-danger(ng-model='tagname', ng-click='search()') Architecture
  .wrapper2
    .box1
      a(href='topic/1')
        img(src='../../styles/img/1.png')
    .box2
      a(href='topic/2')
        img(src='../../styles/img/2.png')
    .box3
      a(href='topic/3')
        img(src='../../styles/img/3.png')
    .box4
      a(href='topic/4')
        img(src='../../styles/img/4.png')
    .box5
      a(href='topic/5')
        img(src='../../styles/img/5.png')
    .box6
      a(href='topic/6')
        img(src='../../styles/img/6.png')
    .box7
      a(href='topic/7')
        img(src='../../styles/img/7.png')
    .box8
      a(href='topic/8')
        img(src='../../styles/img/8.png')