doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', type='text/css', href='style4.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='bootstrap-3.3.4-dist/css/bootstrap.min.css')
    title Search
  body
    .row
      .col-lg-6
        .input-group
          input.form-control(type='text', placeholder='Search for...', style='height:30px; width:240px')
        // /input-group
      // /.col-lg-6
    // /.row
    section
      #container_buttons
        p
          a.a_demo_four(href='#')
            | Go!
    .wrapper2
      .col-xs-3
        .col-sm-10.col-md-8
          .thumbnail
            img.img-rounded(src='1.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀') 欧洲游
              p
                a.btn.btn-primary(href='#', role='button') 进入
          .thumbnail
            img.img-rounded(src='2.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀;color:#adadad') 城市风光
              p
                a.btn.btn-info(href='#', role='button') 进入
      .col-xs-3
        .col-sm-10.col-md-8
          .thumbnail
            img.img-rounded(src='3.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀;color:#ffd306') 阳光沙滩
              p
                a.btn.btn-default(href='#', role='button') 进入
          .thumbnail
            img.img-rounded(src='4.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀;color:#a23400') 自然风光
              p
                a.btn.btn-success(href='#', role='button') 进入
      .col-xs-3
        .col-sm-10.col-md-8
          .thumbnail
            img.img-rounded(src='5.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀; color:#bcea00') 亚洲风情
              p
                a.btn.btn-warning(href='#', role='button') 进入
          .thumbnail
            img.img-rounded(src='6.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀;color:#cabec2') 大洋彼岸
              p
                a.btn.btn-danger(href='#', role='button') 进入
      .col-xs-3
        .col-sm-10.col-md-8
          .thumbnail
            img.img-rounded(src='7.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀; color:#9999cc') 冰川世界
              p
                a.btn.btn-primary(href='#', role='button') 进入
          .thumbnail
            img.img-rounded(src='8.jpg', alt='...')
            .caption
              h3(style='font-family: 华文琥珀;color:#ce0000') 壮美中国
              p
                a.btn.btn-success(href='#', role='button') 进入



