script(src="./scripts/app.js")
script(src="./scripts/route.js")
script(src="./modules/portal/index.ctrl.js")
script(src="./modules/login/signin.ctrl.js")
script(src="./modules/dashboard/dashboard.ctrl.js")
script(src="./modules/search/search.ctrl.js")
script(src="./scripts/libs/bluebird.js")
script(src="./scripts/libs/restangular.js")
script(src="./scripts/libs/lodash.js")
script(src="./scripts/service/api/userApi.js")
script(src="./scripts/service/api/tipsAPI.js")
script(src="./scripts/bootstrap/bootstrap.min.js")
script(src="./scripts/bootstrap/ui-bootstrap-tpls.min.js")
script(src="./scripts/data/global.js")

//
   Created by soap on 15/4/8.

