script(src="./scripts/app.js")
script(src="./scripts/route.js")
script(src="./scripts/data/global.js")
script(src="./modules/portal/index.ctrl.js")
script(src="./modules/login/signin.ctrl.js")
script(src="./modules/dashboard/dashboard.ctrl.js")
script(src="./modules/personPage/personPage.ctrl.js")
script(src="./modules/recommendationBox/recommendationBox.ctrl.js")
script(src="./modules/topic/topic.ctrl.js")
script(src="./modules/search/search.ctrl.js")
script(src="./modules/navbar/navbar.ctrl.js")
script(src="./scripts/service/api/userApi.js")
script(src="./scripts/service/api/tipsAPI.js")
script(src="./scripts/service/api/topicAPI.js")

script(src="./scripts/libs/bootstrap.min.js")
//script(src="./scripts/libs/jquery.min.js")
script(src="./scripts/libs/ng-infinite-scroll.js")
script(src="./scripts/service/api/reddit.js")
script(src="./scripts/libs/bluebird.js")
script(src="./scripts/libs/restangular.js")
script(src="./scripts/libs/lodash.js")

