//libs
script(src="./scripts/libs/bluebird.js")
script(src="./scripts/libs/restangular.js")
script(src="./scripts/libs/lodash.js")
script(src="./scripts/libs/angular-cookies.js")
script(src="./scripts/libs/bootstrap.min.js")
//script(src="./scripts/libs/jquery.min.js")
script(src="./scripts/libs/ng-infinite-scroll.js")
script(src="./scripts/libs/ng-file-upload-shim.js")
script(src="./scripts/libs/ng-file-upload.js")


//app
script(src="./scripts/app.js")
script(src="./scripts/run.js")

//Data
script(src="./scripts/data/global.js")

//Auth
script(src="./scripts/service/cookie/auth.js")

// resolves
script(src="./scripts/resolves/authorization.js")

script(src="./scripts/resolves/provider.js")

// route
script(src="./scripts/route.js")

//services
script(src="./scripts/service/api/userApi.js")
script(src="./scripts/service/api/tipsAPI.js")
script(src="./scripts/service/api/topicAPI.js")
script(src="./scripts/service/api/likeAPI.js")
script(src="./scripts/service/api/searchAPI.js")
script(src="./scripts/service/api/reddit.js")




//controllers
script(src="./modules/portal/index.ctrl.js")
script(src="./modules/login/signin.ctrl.js")
script(src="./modules/dashboard/dashboard.ctrl.js")
script(src="./modules/personPage/personPage.ctrl.js")
script(src="./modules/personSetting/personSetting.ctrl.js")
script(src="./modules/recommendationBox/recommendationBox.ctrl.js")
script(src="./modules/topic/topic.ctrl.js")
script(src="./modules/search/search.ctrl.js")
script(src="./modules/photo/photo.ctrl.js")
script(src="./modules/navbar/navbar.ctrl.js")
script(src="./modules/nav_side/nav_side.ctrl.js")







