.dashboard {
  overflow: auto;
  margin:0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color: #fff;

  //导航栏
  .button-container {
    position:fixed;
    top:3%;
    left:5%;
    height:21px;
    width:29px;
    cursor:pointer;
    -webkit-transition:opacity .25s ease;
    transition:opacity .25s ease;
    z-index:200
  }

  .button-container:hover {
    opacity: .7
  }

  .button-container span {
    background: #3fffb3;
    border:none;
    height:4px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-transition:all .35s ease;
    transition:all .35s ease;
    cursor:pointer
  }

  .button-container span:nth-of-type(2) {
    top:9px
  }

  .button-container span:nth-of-type(3) {
    top:18px
  }

  .top_active {
    -webkit-transform:translateY(9px) translateX(0) rotate(45deg);
    -ms-transform:translateY(9px) translateX(0) rotate(45deg);
    transform:translateY(9px) translateX(0) rotate(45deg);
    background:#FFF
  }

  .middle_active {
    opacity:0;
    background:#FFF
  }

  .bottom_active {
    -ms-transform:translateY(-9px) translateX(0) rotate(-45deg);
    -webkit-transform:translateY(-9px) translateX(0) rotate(-45deg);
    tranform:translateY(-9px) translateX(0) rotate(-45deg);
    background:#FFF
  }

  .overlay {
    position:fixed;
    background: #5262ff;
    top:0;
    left:0;
    width:0;
    height:100%;
    opacity:0;
    visibility:hidden;
    -webkit-transition:opacity .35s,visibility .35s,width .35s ease-in-out;
    transition:opacity .35s,visibility .35s,width .35s ease-in-out;
    overflow:hidden;
    z-index:100
  }

  .overlay_open {
    opacity:.9;
    visibility:visible;
    width:30%;
    overflow:hidden
  }

  .overlay nav {
    position:relative;
    height:60%;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    font-size:32px;
    font-family:Montserrat,sans-serif;
    font-weight:400;
    text-align:center
  }

  .overlay nav ul {
    list-style:none;
    padding:0;
    margin:0 auto;
    display:inline-block;
    position:relative;
    height:100%
  }

  .overlay_open nav ul li {
    display:block;
    height:20%;
    min-height:32px;
    position:relative;
    opacity:0.7
  }

  .overlay_open nav ul li{
    -webkit-animation:menuFade .5s ease forwards;
    animation:menuFade .5s ease forwards;
    -webkit-animation-delay:.35s;
    animation-delay:.35s
  }

  .overlay_open nav ul li:nth-of-type(2) {
    -webkit-animation-delay:.4s;
    animation-delay:.4s
  }

  .overlay_open nav ul li:nth-of-type(3) {
    -webkit-animation-delay:.45s;
    animation-delay:.45s
  }

  .overlay_open nav ul li a {
    display:block;
    position:relative;
    color:#FFF;
    overflow:hidden
  }

  .overlay_open nav ul li a:hover {
    text-decoration:none;
    cursor: pointer;
  }

  .overlay_open nav ul li a:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    -webkit-transform:translateX(-105%);
    -ms-transform:translateX(-105%);
    transform:translateX(-105%);
    height:3px;
    width:100%;
    background:#FFF;
    -webkit-transition:.35s ease;
    transition:.35s ease
  }

  .overlay_open nav ul li a:hover:after {
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%)}#title{color:#FFF;
    -webkit-animation-delay:.5s;
    animation-delay:.5s
  }



  //dashboard
  .l-container {
    width:900px;
    margin:auto;
    padding:92px 30px 0;
    overflow: scroll;
  }

  .l-container--two-column-dashboard .left_column {
    float:left;
    width:625px
  }


  .l-container.l-container--two-column-dashboard .l-content {
    background-color:#36465d;
    padding:0;
  }

  .l-container .l-content {
    padding:0 8px;
    border-radius:15px
  }


  //左侧栏
  .clearfix {
    zoom: 1
  }

  .l-container.l-container--two-column-dashboard .left_column {
    float:left;
    width:625px;
    background-color:#36465d
  }

  .post {
    position: relative;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .post-avatar--static {
    position:absolute!important;
    left:-85px!important;
    top:0!important
  }

  #posts.posts>.post_container {
    margin:0 0 20px 0
  }

  #posts.posts>li:last-child {
    margin:0
  }

  #posts.posts>.post {
    clear:both
  }

  #posts.posts>.notification.single_notification {
    margin:20px 0 20px -1px
  }

  #posts.posts>.notification.last_notification {
    margin:0 0 20px -1px
  }


  #posts.posts>.post_container {
    margin:0 0 20px 0
  }

  .post.new_post {
    position: relative;
    min-height: 99px;
    width: auto;
    height: auto;
    padding: 0;
    text-align: center;
    clear: both;
    background-color: #fff;
    word-wrap: break-word;
  }

  .post_full {
    width: 540px;
    font-size: 14px;
    background: #fff;
    padding: 15px 0;
    word_wrap: break-word;
    border-radius: 3px;
  }

  .post_buttons {
    padding:0 1px 0 7px
  }

  .post.new_post .new_post_label {
    float:left;
    position:relative;
    top:0;
    left:0;
    width:75px;
    height:20px;
    padding:61px 1px 18px 0;
    color:#696969;
    font-size:15px;
    opacity:.9;
    font-weight:normal;
    text-decoration:none;
    background:#fff no-repeat right center
  }



  .new_post_label i.icon_post_text {
    color:#444
  }

}