.dashboard
    //导航栏
    #toggle.button-container(ng-click='opendNav()')
        span(ng-class='{top_active:topactive}')
        span(ng-class='{middle_active:middleactive}')
        span(ng-class='{bottom_active:bottomactive}')
    #overlay(ng-class='{overlay:onclose,overlay_open:onopen}')
        nav
            ul
                li
                    a Sign in
                li
                    a Sign up
                li
                    a Search


    //内容框架
    .container-fluid
      .row-fluid
        //左侧栏
        .col-md-1

        .col-md-8
            .left_column
                //新建tip框
                .new_tip_container
                    .user_avatar
                        a.user_avatar_link
                    nav.new_tip_buttons
                        a.new_tip_label
                            i.icon_tip_text
                            span.new_tip_label_text Text
                        a.new_tip_label
                            i.icon_tip_photo
                            span.new_tip_label_text Photo
                        a.new_tip_label
                            i.icon_tip_link
                            span.new_tip_label_text Link
                        a.new_tip_label
                            i.icon_tip_audio
                            span.new_tip_label_text Audio
                        a.new_tip_label
                            i.icon_tip_video
                            span.new_tip_label_text Video


                //好友tips
                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content

                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content

                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content
                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content
                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content
                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content
                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content
                .tips_container
                    ul.tips_timeline
                        li
                            time.tips_time
                                span 4/30/15
                                span 18:30
                            .tips_id
                                .tips_user_avatar
                                    img(src='styles/img/avatar2.jpg',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 johnbryant262
                                img.tips_image(src='styles/img/tips_img1.jpg')
                                p.tips_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .tips_tag
                                    a #tag1
                                    a #tag2
                                    a #tag3
                                hr
                                a.likes
                                    span.glyphicon.glyphicon-heart-empty
                                    | 2
                                .blank_content
        //右侧栏
        .col-md-3
            .right_column