.dashboard
    //导航栏
    #toggle.button-container(ng-click='opendNav()')
        span(ng-class='{top_active:topactive}')
        span(ng-class='{middle_active:middleactive}')
        span(ng-class='{bottom_active:bottomactive}')
    #overlay(ng-class='{overlay:onclose,overlay_open:onopen}')
        nav
            ul
                li
                    a Sign in
                li
                    a Sign up
                li
                    a Search

    //内容框架
    .l-container.l-container--two-column-dashboard
        .l-content.clearfix
            //右侧栏（内容待定）
            #right_column.right_column

            //左侧栏
            #left_column.left_column
    			ol#posts.posts.post-avatar--static
    				//新建tip
    				li#new_post_buttons.post_container.new_post_buttons_container
    					#new_post.new_post_buttons.post.post_full.is_mine.with_avatar.new_post
    				//好友tip内容
    				li.post_container(data-pageable='#')
    					.post.post_full.is_photoset
    					//头像
    					.post_avatar
    					//内容
    					.post_wrapper
    						//标题
    						.post_header
    						//内容
    						.post_content
    							.post_content_inner
    								//媒体
    								.post_media
    								//文字
    								.post_body
    						//标签
    						.post_tag
    						//tip操作
    						.post_footer
    							.post_contral
    								.post_like

    //Footer
    footer
      p
        | Made with 
        span.fa.fa-heart.animated.pulse
        |  in Tongji, Shanghai
      p © 2014 John Bryant. All rights reserved.