
  .area {
    top: 400px;
    left:400px;
    background-color: #36465d;

  }
  #right {
    width: 450px;
    left:860px;
    position:relative;


  }
  #mid {
    width: 450px;
    left: 530px;
    position:relative;



  }
  #left {

    width:450px;
    left:200px;
    position:relative;

  }



  .img {
    width: 410px;
    border: 5px solid #e3e3e3;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #fff;

  }



  .cl-mcont{
    padding: 25px 0 30px 0;
    margin-top: 0;
  }

  .like_icon {

  }
  .clear{
    clear:both;
    visibility:hidden;
    height:0;
  }

