doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title Tips
        link(href='photo.css', rel='stylesheet', type='text/css')
        link(href='../../styles/bootstrap.min.css', rel='stylesheet', type='text/css')
    body
        .area
            #left
                .img2
                    .media
                        .media-left
                            img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px;')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                          France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/5.jpg', style='width: 280px;height: 280px;margin-top: 10px')
                .img3
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px;width: 70px;height: 70px;')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                 France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/6.jpg', style='width: 280px;height: 350px;margin-top: 15px')
                .img
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                 France is a great place to go on the vacation!
                    .po
                        p(style='text-align:center')
                            img(src='../../styles/img/1.jpg', style='width: 280px;height: 200px;')
        .area
            #mid
                .img3
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px;width: 70px;height: 70px;')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                 France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/3.jpg', style='width: 280px;height: 350px;margin-top: 15px')
                .img2
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px;')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                 France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/5.jpg', style='width: 280px;height: 280px;margin-top: 10px')
                .img2
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px;')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                 France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/5.jpg', style='width: 280px;height:280px;margin-top: 10px')
        .area
            #right
                .img
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                     France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/1.jpg', style='width: 280px;height: 200px;')
                .img3
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px;width: 70px;height: 70px;')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                 France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/3.jpg', style='width: 280px;height: 350px;margin-top: 15px')
                .img2
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src='../../styles/img/avatar4.jpg', alt='...', style='margin-left: 7px;margin-top: 5px;')
                        .media-body
                            h4.media-heading
                                | John
                                button.btn.btn-danger.btn-sm(type='button', style='margin-left: 7px;margin-top: 5px') follow
                                button.btn.btn-default.btn-sm(type='button', style='margin-left: 7px;margin-top: 7px')
                                    | 20
                                    a(herf='#')
                                        img(src='../../styles/img/thumb.jpg', style='width:18px;height:18px;')
                            |                 France is a great place to go on the vacation!
                    p(style='text-align:center')
                        img(src='../../styles/img/4.jpg', style='width: 280px;height: 280px;margin-top: 10px')
                         