.recommendationBox {
  background: #36465d;
  height: 1000px;
  width: 100%;

  .modal-welcome .modal-content {
    position: relative;
    top: 150px;
    width:700px;
    height: 500px;
    background: url(../../styles/img/recommendation-background.png);
  }

  .modal-welcome .modal-content .modal-body {
    text-align: center;
  }

  .modal-welcome .modal-content .modal-body .gif {
    width: 200px;
    height: 244px;

    background: url(../../styles/img/recommendation-compass-animated.gif) 0px 0px no-repeat;
    display: inline-block;
    text-align: center;
  }
  .modal-welcome .modal-content .modal-body > h1 {
    font-size: 32px;
    color: #fff;
    margin: 0 90px;
    display: block;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .modal-welcome .modal-content .modal-body > p {
    font-size: 18px;
    color: #fff;
    margin: 18px 90px;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  }

  .modal-welcome .modal-content .modal-footer {
    text-align: center;
  }

  .modal-welcome .modal-content .modal-footer > button {
    width: 200px;
  }








}