.recommendationBox
    .navbar(ng-include='', src="'/modules/navbar/navbar.html'")
    button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
        | Launch demo modal
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-welcome(ng-if='welcome_show')
                .modal-content
                    .modal-body
                        .gif
                        h1 {{ hello }} {{ username }}!
                        p {{ introduction }}
                    .modal-footer
                        button.btn.btn-primary(ng-click='goFollowBox()') Next

            .modal-selectFollow(ng-if='selectFollow_show')
                .modal-content
                    .modal-body
                        .gif
                        h1 {{ hello }} {{ username }}!
                        p {{ introduction }}
                    .modal-footer
                        button.btn.btn-primary(ng-click='goFollowBox()') Next