.topic {
  background-color: #36465d;
  height: 100%;
  width: 100%;

  .middle-sdo1 {
    width: 998px;
    margin: 0 auto;
    background: url(//styles//img//sdo1.png) no-repeat bottom;
    display: table;
    padding-bottom: 20px;
  }

  #sdo2 {
    width: 1030px;
    margin: 0 auto;
    background: url(//styles//img//sdo2.png) no-repeat top;
    display: table;
  }

  #middle {
    width: 998px;
    margin: 0 auto;
    background: #fff;
    border: 20px solid #e9e9e9;
    border-top: none;
    padding-bottom: 25px;
  }

  .cl-mcont {
    background-color: #F0F0F0;
    color: inherit;
    font-size: 13px;
    font-weight: 200;
    line-height: 21px;
    padding: 15px 30px 30px 30px;
    margin-top: 0;
  }


















}