.topic {
  background-color: #36465d;
  height: 100%;
  width: 100%;


  .middle-sdo1 {
    width: 998px;
    margin: 0 auto;
    //background: url('//styles//img//sdo1.png') no-repeat bottom;
    display: table;
    padding-bottom: 20px;

  }

  .middle-sdo1 .sdo2 {
    width: 1030px;
    margin: 0 auto;
    //background: url('//styles//img//sdo2.png') no-repeat top;
    display: table;
  }

  .middle-sdo1 .sdo2 .middle {
    width: 998px;
    margin: 0 auto;
    background: #36465d;
  }

  .cl-mcont {
    background-color: #36465d;
    color: inherit;
    font-size: 13px;
    font-weight: 200;
    line-height: 21px;
    padding: 15px 30px 30px 30px;
    margin-top: 0;
  }

  .topic_title {
    text-align: center;
    border: 1px solid hotpink;
    background: url(//styles//img//ocean_topic.jpg) no-repeat ;
  }

  .topic-timeline {
    position: relative;
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    border: 1px solid #000000;
    
  }
  
  .topic-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #fff;
    left: 50%;
  }

  .topic-timeline .topic_right {
    padding-left: 50%;
  }

  .topic-timeline .topic_left {
    padding-right: 50%;
  }

  .topic-timeline .topic_right .tips_time {
    position: relative;
    float: left;
    left: -90px;
    display: block;
    //width: 10%;
  }

  .topic-timeline .topic_left .tips_time {
    position: relative;
    display: block;
    right: -95px;
    float: right;
  }

  .topic-timeline .topic_right .tips_user_avatar {
    position: relative;
    display: block;
    float: left;
    left: -150px;
    top: 60px
  }

  .topic-timeline .topic_left .tips_user_avatar {
    position: relative;
    display: block;
    float: right;
    right: -160px;
    top: 60px;
  }

  .tips_user_avatar > a {
    cursor: pointer;
  }

  .tips_user_avatar > img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }

  .tips_time span {
    display: block;
    text-align: right;
  }

  .tips_time span:nth-child(1) {
    font-size: 1.1em;
    color: #fff
  }

  .tips_time span:nth-child(2) {
    font-size: 1.8em;
    color: #fff
  }



  .topic-timeline .topic_right .tips_icon {
    width: 40px;
    height: 40px;
    font-family: 'ecoico';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #000000;
    background: #36465d;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #fff;
    text-align: center;
    left: 50%;
    margin: 10px 0 0 -15px;
  }

  .topic-timeline .topic_left .tips_icon {
    width: 40px;
    height: 40px;
    font-family: 'ecoico';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #000000;
    background: #36465d;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #fff;
    text-align: center;
    left: 50%;
    margin: 0 0 0 -15px;
  }

  .tips_icon-phone:before {
    content: "\e000"
  }

  .topic-timeline .topic_right .tips_label {
    position: relative;
    left: 50px;
    width: 400px;
    background: #fff;
    border-radius: 5px;
  }

  .topic-timeline .topic_left .tips_label {
    position: relative;
    right: -30px;
    width: 400px;
    background: #fff;
    border-radius: 5px;
  }

  .topic-timeline .topic_right .tips_label:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right: 15px solid #fff;
    top: 20px;
  }


  .topic-timeline .topic_left .tips_label:after {
    position: absolute;
    right: -18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-left: 15px solid #fff;
    top: 20px;
  }

  .topic-timeline .topic_right .tips_username {
    display: block;
    position: relative;
    left: -100px;
    top: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: #a1a1a1;
    white-space: nowrap;
    cursor: pointer
  }

  .topic-timeline .topic_left .tips_username {
    display: block;
    position: relative;
    left: 20px;
    top: 15px;
    font-size: 15px;
    font-weight: bolder;
    color: #a1a1a1;
    word-wrap: normal;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer
  }


  .topic-timeline .topic_right .tips_image {
    position: relative;
    top: -10px;
    display: block;
    width: 400px;
    height: 300px;
  }

  .topic-timeline .topic_left .tips_image {
    position: relative;
    display: block;
    top: -10px;
    width: 400px;
    height: 300px;
  }

  .topic-timeline .topic_right .tips_text {
    padding: 10px;
    display: block;
    font-size: 15px;
    font-family: arial, sans-serif;
    color: #000
  }

  .topic-timeline .topic_left .tips_text {
    padding: 10px;
    display: block;
    font-size: 15px;
    font-family: arial, sans-serif;
    color: #000
  }

  .topic-timeline .topic_right .tips_tag_container {
    padding: 10px;
  }

  .topic-timeline .topic_left .tips_tag_container {
    padding: 10px;
  }

  .topic-timeline .topic_right .tips_tag_container .tips_tag {
    float: left;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
  }

  .topic-timeline .topic_left .tips_tag_container .tips_tag {
    float: left;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
  }

  .topic-timeline .topic_right .tips_like {
    display: block;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
  }

  .topic-timeline .topic_left .tips_like {
    display: block;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
  }

  .topic-timeline .topic_right .tips_like > span {
    float: left;
  }

  .topic-timeline .topic_left .tips_like > span {
    float: left;
  }

  .topic-timeline .topic_right .tips_like > p {
    margin-left: 15px;
  }

  .topic-timeline .topic_left .tips_like > p {
    margin-left: 15px;
  }




  
  

















}